.intro{
 margin-bottom: 95px;
 .container{
    background: #ffffff;
    border-radius: 10px;
    padding: 37px 0;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 &-item{
    display: flex;
justify-content: space-between;
align-items: center;
gap: 0 20px;
}

}

